<a href="https://colab.research.google.com/github/kevwee-lab/mygooglecolabs/blob/master/Untitled11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#lesson on XY problem
#using file extension filename function

def extract_ext(filename):
  return filename.split('.')[-1]

print(extract_ext('photo_of_sasquatch.png'))
print(extract_ext('photo_of_lochness.jpeg'))

png
jpeg

In [ ]:
#accessing chars in string

word = 'supergreat'
print(f'{word[0]}')

print(f'{word[0:5]}')

s
super

In [ ]:
#file extenstion using endswith
filenames = ['lochness.png', 'e.t.jpeg', 'conspiracy_theories_CONFIRMED.zip']

for files in filenames:
  if files.endswith('zip'):
    print(f'{files} is a zip file.')
  else:
    print(f'{files} is not a zip file.')

lochness.png is not a zip file.
e.t.jpeg is not a zip file.
conspiracy_theories_CONFIRMED.zip is a zip file.

In [ ]:
#separate integers from strings in a list
my_list = ['a', 'b', 'n', 'x', 1, 2, 33.3, 'n', 'b']
number_list = []
string_list = []

for item in my_list:
  print(f'current item: {item}, Type: {type(item)}')
  if not isinstance(item, str):
    number_list.append(item)
  else:
    string_list.append(item)

print(number_list)
print(string_list)

current item: a, Type: <class 'str'>
current item: b, Type: <class 'str'>
current item: n, Type: <class 'str'>
current item: x, Type: <class 'str'>
current item: 1, Type: <class 'int'>
current item: 2, Type: <class 'int'>
current item: 33.3, Type: <class 'float'>
current item: n, Type: <class 'str'>
current item: b, Type: <class 'str'>
[1, 2, 33.3]
None

In [ ]:
#separate list using list comprehensions
my_list = ['a', 'b', 'n', 'x', 1, 2, 33.3, 'n', 'b']

my_list = [letter for letter in my_list if isinstance(letter, str)]
print(my_list)

['a', 'b', 'n', 'x', 'n', 'b']

In [ ]:
#using filter to get same result

def get_numbers(input_char):
  if not isinstance(input_char, str):
    return True
  return False

mylist = [1, 2, 3, 'a', 'b', 'c']

check_list = filter(get_numbers, mylist)

for items in check_list:
  print(items)

1
2
3

In [ ]:
#reverse a string

word = 'honorificabilis'

print(f"{word[::-1]}")

silibacifironoh

In [ ]:
#reverse a list
names = ['First', 'Middle', 'Last']
print(names[::-1])

['Last', 'Middle', 'First']

In [ ]:
#join elements in a list
names = ['First', 'Middle', 'Last']
full_name = ' '.join(names)
print(f"Full Name:\n{full_name}")

Full Name:
First Middle Last

In [ ]:
#accessing lists
greek_gods = ['Zeus', 'Hera', 'Poseidon', 'Apollo', 'Stuart', 'Bob']

#use enumerate to print with index
for index, name in enumerate(greek_gods):
  print(f'at index {index}, we have: {name}')

#print without index
for name in greek_gods:
  print(f'Greek God: {name}')

#not so pythonic way to print with index
for index in range(0,len(greek_gods)):
  print(f'at index {index}, we have {greek_gods[index]}')

at index 0, we have: Zeus
at index 1, we have: Hera
at index 2, we have: Poseidon
at index 3, we have: Apollo
at index 4, we have: Stuart
at index 5, we have: Bob
Greek God: Zeus
Greek God: Hera
Greek God: Poseidon
Greek God: Apollo
Greek God: Stuart
Greek God: Bob
at index 0, we have Zeus
at index 1, we have Hera
at index 2, we have Poseidon
at index 3, we have Apollo
at index 4, we have Stuart
at index 5, we have Bob

In [ ]:
#OOP

class Student():
  def __init__(self,name):
    self.name = name
    self.subject_list = []
  
  def add_subject(self, subject_name):
    self.subject_list.append(subject_name)
  
  def get_student_data(self):
    print(f'Student: {self.name} is assigned to:')
    for subject in self.subject_list:
      print(f'{subject}')
    print()

student1 = Student('Mishmans Nrofqa')
student2 = Student('Bighal Chung')

student1.add_subject('Sociology_101')
student2.add_subject('History_101')

student1.get_student_data()
student2.get_student_data()

Student: Mishmans Nrofqa is assigned to:
Sociology_101

Student: Bighal Chung is assigned to:
History_101